[package]
name = "piet"
version = "0.2.0-pre4"
authors = ["Raph Levien <raph.levien@gmail.com>"]
description = "An abstraction for 2D graphics."
license = "MIT/Apache-2.0"
repository = "https://github.com/linebender/piet"
edition = "2018"
keywords = ["graphics", "2d"]
categories = ["rendering::graphics-api"]

[dependencies]
image = { version = "0.23.10", optional = true }
kurbo = "0.6.3"
pico-args =  { version = "0.3.3", optional = true }
png = {version = "0.16.2", optional = true }
os_info = { version = "2.0.7", optional = true, default-features = false }

[features]
samples = ["pico-args", "png", "os_info"]
