[package]
name = "piet"
version = "0.0.6"
authors = ["Raph Levien <raph.levien@gmail.com>"]
description = "An abstraction for 2D graphics."
license = "MIT/Apache-2.0"
edition = "2018"
keywords = ["graphics", "2d"]
categories = ["rendering::graphics-api"]

[dependencies]
kurbo = "0.5.1"
