[package]
name = "piet-coregraphics"
version = "0.2.0"
authors = ["Jeff Muizelaar <jrmuizel@gmail.com>, Raph Levien <raph.levien@gmail.com>, Colin Rofls <colin.rofls@gmail.com>"]
description = "CoreGraphics backend for piet 2D graphics abstraction."
license = "MIT/Apache-2.0"
edition = "2018"
keywords = ["graphics", "2d"]
categories = ["rendering::graphics-api"]

[dependencies]
piet = { version = "0.2.0", path = "../piet" }

foreign-types = "0.3.2"
core-graphics = "0.22.0"
core-text = "19.0.0"
core-foundation = "0.9"
core-foundation-sys = "0.8"
unic-bidi = "0.9"

[dev-dependencies]
piet = { version = "0.2.0", path = "../piet", features = ["samples"] }
png = "0.16.2"
