[package]
name = "piet-web"
version = "0.0.1"
authors = ["Raph Levien <raph.levien@gmail.com>"]
description = "Web canvas backend for piet 2D graphics abstraction."
license = "MIT/Apache-2.0"
edition = "2018"
keywords = ["graphics", "2d"]
categories = ["rendering::graphics-api", "wasm"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
kurbo = "0.2.0"
piet = { version = "0.0.1", path = "../piet" }

wasm-bindgen = "0.2.30"
js-sys = "0.3.10"
[dependencies.web-sys]
version = "0.3.10"
features = ["Window", "CanvasRenderingContext2d", "CanvasWindingRule", "Document", "Element",
    "HtmlCanvasElement", "ImageBitmap", "ImageData", "TextMetrics"]
