[package]
name = "piet-web"
version = "0.0.11"
authors = ["Raph Levien <raph.levien@gmail.com>"]
description = "Web canvas backend for piet 2D graphics abstraction."
license = "MIT/Apache-2.0"
repository = "https://github.com/linebender/piet"
edition = "2018"
keywords = ["graphics", "2d"]
categories = ["rendering::graphics-api", "wasm"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
piet = { version = "0.0.11", path = "../piet" }
unicode-segmentation = "1.6.0"
wasm-bindgen = "0.2.59"
js-sys = "0.3.36"
xi-unicode = "0.2.0"

[dependencies.web-sys]
version = "0.3.36"
features = ["Window", "CanvasGradient", "CanvasRenderingContext2d", "CanvasWindingRule",
    "Document", "Element", "HtmlCanvasElement", "ImageBitmap", "ImageData", "TextMetrics"]
