[package]
name = "piet-cairo"
version = "0.2.0-pre2"
authors = ["Raph Levien <raph.levien@gmail.com>"]
description = "Cairo backend for piet 2D graphics abstraction."
license = "MIT/Apache-2.0"
repository = "https://github.com/linebender/piet"
edition = "2018"
keywords = ["graphics", "2d"]
categories = ["rendering::graphics-api"]

[dependencies]
piet = { version = "0.2.0-pre2", path = "../piet" }

cairo-rs = { version = "0.9.1", default-features = false } # We don't need glib
unicode-segmentation = "1.3.0"
xi-unicode = "0.2.0"

[dev-dependencies]
piet = { version = "0.2.0-pre2", path = "../piet", features = ["samples"] }
cairo-rs = { version = "0.9.1", default-features = false, features = ["png"] }
