[package]
name = "piet-cairo"
version = "0.4.0"
authors = ["Raph Levien <raph.levien@gmail.com>"]
description = "Cairo backend for piet 2D graphics abstraction."
license = "MIT/Apache-2.0"
repository = "https://github.com/linebender/piet"
readme = "../README.md"
edition = "2018"
keywords = ["graphics", "2d"]
categories = ["rendering::graphics-api"]

[dependencies]
piet = { version = "0.4.0", path = "../piet" }

cairo-rs = { version = "0.14.0", default-features = false } # We don't need glib
pango = { version = "0.14.0", features = ["v1_46"] }
pango-sys = { version = "0.14.0", features = ["v1_46"] }
pangocairo = "0.14.0"
glib = "0.14.0"
unicode-segmentation = "1.3.0"
xi-unicode = "0.3.0"

[dev-dependencies]
piet = { version = "0.4.0", path = "../piet", features = ["samples"] }
cairo-rs = { version = "0.14.0", default-features = false, features = ["png"] }
criterion = "0.3"

[[bench]]
name = "make_image"
harness = false
