[package]
name = "piet-cairo"
version = "0.0.12"
authors = ["Raph Levien <raph.levien@gmail.com>"]
description = "Cairo backend for piet 2D graphics abstraction."
license = "MIT/Apache-2.0"
repository = "https://github.com/linebender/piet"
edition = "2018"
keywords = ["graphics", "2d"]
categories = ["rendering::graphics-api"]

[dependencies]
piet = { version = "0.0.12", path = "../piet" }
unicode-segmentation = "1.3.0"

[dependencies.cairo-rs]
version = "0.8.1"
# We don't need glib
default-features = false

[dev-dependencies]
piet-test = { version = "0.0.12", path = "../piet-test" }

[dev-dependencies.cairo-rs]
version = "0.8.1"
features = ["png"]
default-features = false
