[package]
name = "piet-common"
version = "0.1.1"
authors = ["Raph Levien <raph.levien@gmail.com>"]
description = "Selection of a single preferred back-end for piet"
license = "MIT/Apache-2.0"
repository = "https://github.com/linebender/piet"
edition = "2018"
keywords = ["graphics", "2d"]

[features]
d2d = ["piet-direct2d"]
cairo = ["piet-cairo", "cairo-rs"]
web = ["piet-web"]

[dependencies]
piet = { version = "0.1.0", path = "../piet" }
piet-cairo = { version = "0.1.0", path = "../piet-cairo", optional = true }
piet-coregraphics = { version = "0.1.1", path = "../piet-coregraphics", optional = true }
piet-direct2d = { version = "0.1.0", path = "../piet-direct2d", optional = true }
piet-web = { version = "0.1.0", path = "../piet-web", optional = true }

cfg-if = "0.1.10"
cairo-rs = { version = "0.8.1", default_features = false, optional = true }
png = { version = "0.16.1", optional = true }

[target.'cfg(target_os="linux")'.dependencies]
piet-cairo = { version = "0.1.0", path = "../piet-cairo" }
cairo-rs = { version = "0.8.1", default_features = false}

[target.'cfg(target_os="macos")'.dependencies]
piet-coregraphics = { version = "0.1.1", path = "../piet-coregraphics" }
core-graphics = { version = "0.19" }

[target.'cfg(target_os="windows")'.dependencies]
piet-direct2d = { version = "0.1.0", path = "../piet-direct2d" }

[target.'cfg(target_arch="wasm32")'.dependencies]
piet-web = { version = "0.1.0", path = "../piet-web" }
wasm-bindgen = "0.2.59"

[target.'cfg(target_arch="wasm32")'.dependencies.web-sys]
version = "0.3.36"
features = ["console", "Window", "CanvasGradient", "CanvasRenderingContext2d", "CanvasWindingRule",
            "Document", "Element", "HtmlCanvasElement", "ImageBitmap", "ImageData", "TextMetrics"]
