[package]
name = "piet-svg"
version = "0.1.0"
authors = ["Benjamin Saunders <ben.e.saunders@gmail.com>"]
description = "SVG backend for piet 2D graphics abstraction."
edition = "2018"
license = "MIT/Apache-2.0"
repository = "https://github.com/linebender/piet"
keywords = ["graphics", "2d"]
categories = ["rendering::graphics-api"]

[dependencies]
piet = { version = "0.1.0", path = "../piet" }

svg = "0.8.0"

[dev-dependencies]
piet = { version = "0.1.0", path = "../piet", features = ["samples"] }
